
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Title</title>
    </head>
    <body>

        <form action="./index.php" method="get" accept-charset="utf-8">
            <input type="text" value="1" name="orderNumber[]">
            <input type="text" value="2" name="orderNumber[]">
            <input type="text" value="3" name="orderNumber[]">
            <!-- <button type="submit">提交</button> -->
            <button>提交</button>
        </form>
    </body>
</html>
